* {
    box-sizing: border-box;
}

html, body {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
}

header {
    position: relative;
    background-image: linear-gradient(120deg,#d8f7f2,#F9FCFB 15%,#d8f7f2 30%, #d8f7f2);
    height: 100vh;
    background-size: cover;
    background-position: cover;
}

.header-top {
    display: flex;
}

.header-logo {
    color: rgb(18, 156, 110);
    font-size: 32px;
    margin: 0;
}

.header-logo span {
    font-size: 3em;
    margin-left: 30px;
}


.main-menu{
    
}

.main-menu ul {
    display: flex;
    padding: 0;
    margin-top: 60px;
    margin-left: 150px;
    
}

.main-menu-item{
    list-style: none;
    margin: 0 12px;
}

.main-menu-item a{
    font-size: large;
    text-decoration: none;
    color: rgba(151, 143, 143, 0.502);
}

a:hover{
    color: #000;
    font-size: larger;
}


.header-btn {
    margin-top: 16px;
}

.header-button-group{
    margin-top: 50px;
    margin-left: 100px;
    display: block;   
}

.btn {
    color:rgb(18, 156, 110);
    border-radius: 10px;
    border: 2px;
    padding: 10px;
    width: 120px;
    height: 40px;
}

.btn:hover{
    color:#fff;
    background: rgb(18, 156, 110);
}

.btn-info{
    background-color: #fff;
    font-size: large;
    color: rgba(151, 143, 143, 0.502);
}

.btn-danger{
    background-color: #fff;
    font-size: large;
    color: rgba(151, 143, 143, 0.502);

}

/**/

.hire-button {
    border-color: inherit;
}

/*
.banner-description{
    border: 1px solid red;
}
*/

.header-bottom{
    margin-left: 30px;
    display: grid;
    grid-template-columns: 50% 50%;
    clear: both;
}



.banner-description-title{
    text-align: left;
    font-weight: bold;
    font-size: 65px;
}

.banner-description-break{
    max-width: 300px;
    border: 2px solid rgba(18, 156, 110, 0.8);
    border-top-right-radius: 1000px;
    border-top-left-radius: 1000px;
}

.banner-description-content{
    text-align: left;
    font-weight: 700;
    font-size: 15px;
}

.btn-warning{
    background: rgba(156, 96, 18, 0.8);
    color: #fff;
}

.btn-round{
    margin-top:20px;
    border-radius: 50px;
    margin-left: 50px;
}

.banner-image-wrap{
    display:inline-flex;
}

.card-img-top{
    width: 420px; 
    height: 420px;
}

.text-grey{
    color: #aaa;
}

.form-control-input{
    border: none;
    border-bottom: 1px solid #aaa;
}
.btn-sm{
    padding: 5px;
    width: 80px;
    height: 25px;
    font-size: 14px;
}


#main{
    background-image: linear-gradient(120deg,#d8f7f2,#F9FCFB 15%,#d8f7f2 30%, #d8f7f2);
}
/* */

#analyst{
    text-align: center;
}
.analyst-text h3{
    color: #000;
}

.analyst-image{
    display:inline-block;
    padding: 10px;
}

.analyst-image img{
   max-width: 30px;
}

.analyst-image p{
    display: inline-block;
}

.analyst-support{
    margin-left: 30px;
    display: grid;
    grid-template-columns: 50% 50%;
}

.analyst-support-text h3 {
    text-align: left;
}

.sp-text {
    text-align: left;
}

.rating{
    float: left;
    display: inline-flex;
}

.rating-image{
    padding: 10px;
}

.rating-image img{
    max-width: 30px;
}

.analyst-right img{
    margin-left: 30px;
    max-width: 40px;
    float: left;
}

.analyst-right-text{
    text-align: left;
    padding-left: 80px;
}

.text-icon{
    text-align: left;
    padding-left: 60px;
}
/* */

#feature{
    background-image: linear-gradient(120deg,#d8f7f2,#F9FCFB 15%,#d8f7f2 30%, #d8f7f2);
}
.feature-text{
    margin-left: 30px;
    display: flex;
}

.feature-text-2{
    padding-top: 10px;
    padding-left: 30px;
}

.feature-img-2{
    margin-left: 50px;
    display: inline-block;
}

.feature-img img{
    max-width: 200px;
}

/* */
#benifit{
    background-image: linear-gradient(120deg,#d8f7f2,#F9FCFB 15%,#d8f7f2 30%, #d8f7f2);
    display: grid;
    grid-template-columns: 50% 50%;

}

.benifit-text h1,li{
    margin-left: 30px;
    list-style: none;
}

.benifit-icon img{
    max-width: 30px;
}



/* */

#plan{
    background-image: linear-gradient(120deg,#d8f7f2,#F9FCFB 15%,#d8f7f2 30%, #d8f7f2);
}
.plan-top{
    text-align: center;
}

.plan-menu{
    margin-left: 300px;
    display: grid;
    grid-template-columns: 300px 300px 300px;
    grid-column-gap: 20px;
    padding: 20px;
}

.plan-text{
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(166, 24, 24, 0.2),
        0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: flex;
    flex-direction: column;
}

.plan-text h1 ,p {
    text-align: center;
}

.plan-text li{
    margin-left: 10px;
    list-style: none;
}

.plan-text img{
    max-width: 20px;
}

.plan-btn{
    text-align: center;
}

/* */

#contact{
    background-color: rgba(22,28,40);
    background-size: cover;
    display: flex;
    padding: 0 1em;
    flex-direction: column;
}

.contact-menu {
    display: grid;
    grid-template-columns: 50% 50%;
    margin-left: 30px;
}

.contact-left{
    width: 500px;
}

.contact-left h1{
    color: rgba(151, 143, 143, 0.502);
}

.contact-left p {
    text-align: left;
    font-size: large;
    color: rgba(151, 143, 143, 0.502);
}


.contact-right img{
    margin-left: 200px;
}
.contact-right img,h2{
    margin-top: 10px;
    text-align: center;
    
    color: rgba(151, 143, 143, 0.502);
}


.from-contact{
    background-color: rgb(27, 33, 44);
    height: 50vh;
    max-width: 500px;
}



label {
    color: rgba(151, 143, 143, 0.502);
    margin-bottom: 5px;
    font-weight: bold;
}

.from-contact input, textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 10px;
}

.text-right span, a{
    color: rgba(151, 143, 143, 0.502);
    text-decoration: none;
}

.submit{
    background-color: rgb(18, 156, 110);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    width: 100%;   
}

.submit:hover{
    font-size: larger;
}

.text-right{
    float:right;
}

/* */
footer{
    background-color: rgba(22,28,40);
    background-size: cover;

}

.footer-left{
    display: flex;
    margin-left: 30px;
}

.footer-right{
    display: flex;
    margin-left: 30px;
    
}

.logo{
    color: rgb(18, 156, 110);
    font-size: 3em;
   
}

.foo-text{
    color: rgba(151, 143, 143, 0.502);
    font-weight: bold;
}

footer input {
    border-radius: 20px;
    width: 250px;
    height: 40px;
}

.input-with-image {
    position: relative;
    display: inline-block;
}
  
.input-with-image input {
    padding-right: 40px; /* Để tạo khoảng trống cho ảnh */
}
  
.input-image{
    position: absolute;
    top: 50%;
    right: 10px; /* Khoảng cách từ phải cùng của thẻ input */
    transform: translateY(-50%);
    width: 30px; /* Độ rộng của ảnh */
    height: auto;
}

.footer-text ul {
    list-style: none;
    padding: 0;
    margin-top: 50px;
    margin-left: 150px;
    
}

.footer-text a{
    font-size: large;
    text-decoration: none;
    color: rgba(151, 143, 143, 0.502);
}

.footer-text a:hover{
    font-size: larger;
    color: #ffffff;
}

